<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="Member-Mapper">

<select id="selectMemberList" resultType="member">
	select * 
	from member
</select>
<select id="selectMemberByID" parameterType="str" resultType="member">
	select * 
	from member
	where id = #{id}
</select>

<insert id="insertMember" parameterType="member" >
	insert into member(id, pwd, email)
	values(#{id},#{pwd},#{email})
</insert>
<update id="updateMember" parameterType="member" >
	update member
	set pwd=#{pwd}, email=#{email}
	where id = #{id}
</update>
<delete id="deleteMember" parameterType="str">
	delete 
	from member
	where id = #{id}
</delete>

</mapper>







